.navbar {
    background: linear-gradient(to right, grey, black);

    .navbar-brand {
        font-size: x-large;
    }
}


header {
    position: sticky;
    top: 0;
    z-index: 3;
}



.nav-link {
    text-decoration: none;
    transition: all 0.5s ease;
    
    &:hover{
        opacity: 0.50;
        background: grey;
    }
}


.footer {
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.774);

    &-contact {
        background: linear-gradient(to right, grey, black);
        color: black;
        font-size: large;
        padding: 2rem;}

    &-mail {
        text-decoration: none;}

    &-bottom {
        padding: 1rem 0;

        &_copyright {
            text-align: center;
            color: black;
            font-weight: 600;

                & a {
                    text-decoration: none;
                    color: grey;

                    &:hover {
                        opacity: 0.50;
                        text-decoration:underline;}
                }
            }
        }
    }




#accordion {
    position: sticky;
    top: 0;
    z-index: 2;
}


.card-title {
    margin-top: 10rem;
}

