.navbar {
    background: linear-gradient(to right, grey, black);
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-link {
    text-decoration: none;
    transition: all 0.5s ease;
    
    &:hover{
        opacity: 0.50;
        background: grey;
    }
}


.footer {
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.774);

    &contact {
        background: linear-gradient(to right, grey, black);
        color: black;
        font-weight: 600;
        padding: 2rem;
    }

    &mail {
        text-decoration: none;
    }

    &bottom {
        padding: 1rem 0;

        &copyright {
            text-align: center;
            color: black;
            font-weight: 600;

            &a {
                text-decoration: none;
                color: grey;

                &:hover {
    opacity: 0.50;
    text-decoration:underline;
}
            }
        }

    }



    
}

.footer-contact {
    background: linear-gradient(to right, grey, black);
    color: black;
    font-weight: 600;
    padding: 2rem;
}

.footer-mail {
    text-decoration: none;
}

.footer-bottom {
    padding: 1rem 0;
}

.footer-bottom_copyright {
    text-align: center;
    color: black;
    font-weight: 600;
}

.footer-bottom_copyright a {
    text-decoration: none;
    color: grey;
}

.footer-bottom_copyright a:hover {
    opacity: 0.50;
    text-decoration:underline;
}